<h1>Search calls by caller first name</h1>

<%= form_with url: callers_path, method: :get do |f| %>
  <%= f.text_field :first_name %>
  <%= f. submit "Search" %>
<% end %> <br>
<div class="box">
  <%= render partial: 'callers', locals: {callers: @callers} %>
 </div> 