<h1> Dispatch Log Index </h1>

how to make these only associated with a team...need to add umbrella feature such as a team
<ul>
<% @calls.each do |c| %>
    <li><%= link_to c.created_at.strftime("Created on %A, %b %e, at %l:%M %p"), call_path(c)%> - <%=c.caller.to_s %> </li>
<% end %>
</ul>