<h1>Welcome, <%= current_user.username %></h1><br>

<%# <div class="big_box"> %>


<div class="box">
    <h3>My Dispatch Logs</h3>
    <div class="lists">
        <%# make this into a table so it's clear what they are looking at %>
        <% current_user.calls.each do |c| %>
            <li><%= link_to c.date.strftime("Created on %A, %b %e"), dispatcher_call_path(current_user, c)%> - <%=c.caller.to_s %> </li>
        <% end %><br><br>
    </div>
</div>

<div class="box2">
<h3>My Caller Profiles</h3>
<div class="lists">
    <% @callers.each do |c| %>
        <li><%=link_to c.to_s, caller_path(c) %> </li>
    <% end %><br><br>
</div>

<%# </div> %>