<h1>Welcome, <%= current_user.username %></h1><br>

<div class="box">
    <h3 class="profile">My Dispatch Logs</h3>
    <div class="lists">
        <%# make this into a table so it's clear what they are looking at %>
        <table style="width:100%">
            <tr>
                <th>Call Log </th> 
                <th>Caller Name </th>
                <th>Dispatcher </th>
            </tr>
            <% current_user.calls.each do |c| %>
                <tr></tr>
                <td><%= link_to c.date.strftime("Created on %A, %b %e"), dispatcher_call_path(current_user, c)%></td>
                <td><%=link_to c.caller.to_s, caller_path(c.caller) %></td>
                <td><%= link_to c.dispatcher.username, dispatcher_path(c.dispatcher)%></td>
            <% end %><br><br>
    
        </table>
    </div>
</div>
