<h2>Welcome to Hotline Bling Dispatch App! </h2><br>
<% if !logged_in? %> 
    <h3> <%= link_to "Please log in", login_path %> or <%= link_to "Sign Up", signup_path %></h3> 
    <%# <%= render partial: '/sessions/login', locals: {dispatcher: :dispatcher}%><br> 
<% end %> 