
<div class="home">
</div>
<div class="home1">
</div>
<div class="home2">
</div>
<div class="home3">
</div>
<div class="home4">
</div>

<image src="https://images.pexels.com/photos/6976004/pexels-photo-6976004.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img2">
<image src="https://images.pexels.com/photos/3639873/pexels-photo-3639873.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img1">
<image src="https://images.pexels.com/photos/7346606/pexels-photo-7346606.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img3">
<%# <image src="https://images.pexels.com/photos/6976004/pexels-photo-6976004.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img2"> %>

<h4>Welcome<br> -- to -- <br>Hotline Bling<br>Dispatch App! </h4><br>
<% if !logged_in? %> 
    <h3> <%= link_to "Please log in", login_path %> or <%= link_to "Sign Up", signup_path %></h3> 
    <%# might want to add capacity to login right from home page, but will have to build out static controller with new, create & new routes, nested within sessions?? %>
    <%# <%= render partial: '/sessions/login', locals: {dispatcher: :dispatcher}%><br> 
<% end %> 
